/*
///////////////////////////////////////////////////////////////////////////////////////
// BODY
///////////////////////////////////////////////////////////////////////////////////////
*/

/*
///////////////////////////////////////////////////////////////////////////////////////
// SIZE
///////////////////////////////////////////////////////////////////////////////////////
*/

#map
{
    height: 100vh;
    padding: 0;
}

/*
///////////////////////////////////////////////////////////////////////////////////////
/// OVERLAY
///////////////////////////////////////////////////////////////////////////////////////
*/

.mapbox {
    position: relative;
}

.mapbox .overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 314159;
    /*pointer-events: none;*/
    background-color: white;
    opacity: 0.7;
    height: 100vh;
}

/*
///////////////////////////////////////////////////////////////////////////////////////
/// DATA
///////////////////////////////////////////////////////////////////////////////////////
*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*
///////////////////////////////////////////////////////////////////////////////////////
/// SLIDER
///////////////////////////////////////////////////////////////////////////////////////
*/

#slider {
    margin-left: 10px;
    margin-right: 10px;
}

/*
///////////////////////////////////////////////////////////////////////////////////////
/// CONTAINER FLUID
///////////////////////////////////////////////////////////////////////////////////////
*/

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}